<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Perfect Portfolios</title>
<link rel="stylesheet" type="text/css" href="js/lib/bootstrap/dist/css/bootstrap.min.css"/>
<script type="text/javascript" src="js/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
